/* Custom Styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1, h2, h3 {
    color: #343a40;
    margin-bottom: 20px;
}

.container {
    margin-top: 40px;
}

/* Buttons */
.btn-custom {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #0056b3;
}

/* Forms */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Tables */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

/* Navigation */
.navbar-custom {
    background-color: #007bff;
}

.navbar-custom a {
    color: white;
}

.navbar-custom a:hover {
    color: #ffca28;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    button {
        background: linear-gradient(to right, #1e3c72, #2a5298);
        color: #b3adad;
        border: none;
        padding: 10px 20px;
        border-radius: 100px;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    }

    button:hover {
        background: linear-gradient(to right, #2a5298, #1e3c72);
    }




}
