<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Job Application</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Create Job Application</h1>
<form id="jobApplicationForm">
    <label for="company">Company:</label>
    <input type="text" id="company" name="company"><br><br>
    <label for="position">Position:</label>
    <input type="text" id="position" name="position"><br><br>
    <label for="status">Status:</label>
    <input type="text" id="status" name="status"><br><br>
    <button type="submit">Submit</button>
</form>

<!-- Link to the external JavaScript file -->
<script src="/js/script.js"></script>
</body>
</html>
